<mat-list>
  <ng-container *ngFor="let newInformation of news">
    <mat-list-item
      *ngIf="newInformation.storyTitle || newInformation.title"
      (click)="save()"
    >
      <div class="content-row">
        <h4 mat-line>
          {{ newInformation.storyTitle || newInformation.title }}
        </h4>
        <span mat-line>- {{ newInformation.author }}- </span>
      </div>
      <div class="content-row">
        <span mat-line>{{ newInformation.createdAt }}</span>
        <mat-icon aria-hidden="false" aria-label="delete news">delete</mat-icon>
      </div>
    </mat-list-item>
  </ng-container>
</mat-list>
